{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "useBuiltIns": true
    }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8"
      }
    }]
  ]
}
